<div class="customers">
    <div class="customerslist">
        <h1 class="title">Customers List</h1>
        <h1 class="addnew">+</h1>
        <table id="table1" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>C/o</th>
                    <th>Phone Number</th>
                    <th>Village</th>
                    <th>Street</th>
                    <th>Box No</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1234</td>
                    <td>Sampath Bandla</td>
                    <td>Saidulu Bandla</td>
                    <td>7036774550</td>
                    <td>Prodduturu</td>
                    <td>Church Road</td>
                    <td>AC180400155</td>
                    <td>
                        <button class="view">View</button>
                        <button class="delete">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>