<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/css/index.css">
        <link rel="stylesheet" href="../public/css/main.css">
        <script src="../public/js/register.js"></script>
        <script src="../public/js/main.js"></script>
</head>
<body>
    <div class="maindiv">
        <div class="topheader">
            <div class="logo animated fadeIn">
                <h1>SCBS</h1>
            </div>
            <div class="actionbuttons">
                <div id="min-btn" class="min">-</div>
                <div id="close-btn" class="close">x</div>
            </div>
        </div>
        <div class="logindiv">
            <div class="centerdiv">
                <div class="title animated fadeIn">Register</div>
                <form onsubmit="return false" class="animated fadeIn" onsubmit="false" action="#">
                    <input type="text" class="username" id="username" placeholder="Username...">
                    <input type="password" class="password" id="password" placeholder="password...">
                    <p class="warning" id="warning"></p>
                    <button id="register" class="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


<script>
   
</script>