<link rel="stylesheet" href="../public/css/villageAddNew.css">
<script src="../public/js/villageAddNew.js"></script>

<div id="dailog" class="dailogDiv">
    <div class="dailog">
        <div id="dailogBody" class="body">
            <center>
                <h1 class="title">Add New Street</h1>
                <p class="description">Please Enter bellow details to add new street</p>
                <input onkeyup="addnewstreetbykeyup(event)" type="text" placeholder="Enter Street Name" id="streetname"><br>
                <button class="submit" onclick="addnewstreet()">Add Street</button>
            </center>
        </div>
    </div>
</div>
