<div class="customers">
    <div id="customerslist" class="customerslist">

        <h1 class="title" id="villageName" class="villageName"></h1>
        <h1 onclick="addNewStreetBtn()" class="addnew">+</h1>
        <table id="table2" class="display">
            <thead>
                <tr>
                    <th>Street Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

