<link rel="stylesheet" href="../public/css/villageAddNew.css">
<script src="../public/js/villageAddNew.js"></script>

<div id="dailog" class="dailogDiv">
    <div class="dailog">
        <div id="dailogBody" class="body">
            <center>
                <h1 class="title">Add New Village</h1>
                <p class="description">Please Enter bellow details to add new village</p>
                <input onkeyup="addnewbybtn(event)" type="text" placeholder="Enter Village Name" id="villagename"><br>
                <button class="submit" onclick="addnewvillage()">Add Village</button>
            </center>
        </div>
    </div>
</div>
