<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/welcome.css">

    <script src="../public/js/welcome.js"></script>
</head>
<body>
    <div class="maindiv">
        <div class="centerdiv">
            <div class="title animated fadeIn">Welcome to SCBS</div>
            <input type="text" placeholder="Network Name" id="nname">
            <p id="warning" class="warning">* Please enter network Name</p>
            <button id="start" class="animated fadeIn">Start</button>
        </div>
    </div>
</body>
</html>